<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 verbose="true">
	<testsuites>
		<testsuite name="Feature tests">
			<directory>tests/Feature</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<html outputDirectory="./build/coverage_report/" lowUpperBound="35" highLowerBound="70"/>
			<clover outputFile="./build/coverage.xml"/>
		</report>
	</coverage>
	<php>
		<!-- You must set this value to run the tests! -->
		<env name="squalomail.api_key" value=""/>
		<!-- Enable cURL verbose request dump to build/curl.log -->
		<env name="squalomail.debug" value="false"/>
	</php>
</phpunit>